.home-page {

  .page-header, .topic-section {
    text-align: center;
  }

  .home-subtitle {
    font-size: 35px;
  }

  .topic-section {
    margin: 2% 3%;
    padding: 1% 0;
    //border: solid 1px grey;
  }

}
